<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>타고먹고</title>
    <link rel="stylesheet" href="/templates/head.css">
</head>
<body>
    <div class="head">
        <img class="logo" src="/img/TM_logo.png">
        <div class="title">
            <h1>타고먹고</h1>
            <h2>고려대학교 세종캠퍼스<br>버스시간표 & 학식 식단표 알림 웹서비스</h2>
        </div>
    </div>
    <div class="board">
        <div class="tab">
            <input id="tab1" type="radio" name="tabs" checked>
                <label for="tab1">버스 시간표</label>

                <input id="tab2" type="radio" name="tabs">
                <label for="tab2">학식 식단표</label>

                <input id="tab3" type="radio" name="tabs">
                <label for="tab3">교직원 식단표</label>

                <section id="content1">
                    <p>
                        <img class="bus" src="/img/bus.jpeg">
                    </p>
                </section>
                <section id="content2">
                    <p>
                        <img class="cafe_stud" src="/img/cafeteria_stud.jpeg">
                    </p>
                </section>
                <section id="content3">
                    <p>
                        <img class="cafe_prof" src="/img/cafeteria_prof.jpeg">
                    </p>
                </section>
        </div>
    </div>
</body>
</html>